<!DOCTYPE html>
<html>

<head>

</head>

<!-- Display the application -->

<body>

  <div class="container py-5" style="font-size: 13px; font-family: Verdana; ">
    <button class="btn btn-primary" (click)="goToPage('/show_data');">Show</button>
    <button class="btn btn-primary" (click)="goToPage('/create_element');">Create</button>
    <h3 class="text-center text-uppercase">List of Employees</h3>

    <jqxGrid jqx-grid-energyblue #myGrid [width]=getWidth()
             [source]="dataAdapter" [autoheight]="true"
             [altrows]="true" [columns]="columns"
             (onCellselect)="myGridOnCellSelect($event)"
             [filterable]="true" [columnsresize]="true"
             [sortable]="true" [autoshowloadelement]="true"
             [pageable]="true" [pagesizeoptions]="['10', '20', '30']"
             [selectionmode]="'multiplecellsadvanced'">
    </jqxGrid>
  </div>

</body>

</html>
