
<div class="card" [@cardClose]="cardClose" [ngClass]="cardClass">
    <div class="card-header" *ngIf="title">
        <h5>{{ title }}</h5>
        <span *ngIf="!classHeader">{{ headerContent }}</span>
        <span *ngIf="classHeader">
            <ng-content select=".code-header"></ng-content>
        </span>
        <div class="card-header-right" *ngIf="showRightSection">

          <a href="javascript:void(0);" (click)="onBackClickEvent($event)" *ngIf="showBack">
            <i class="icofont icofont-circled-left icofont-2x"></i>
          </a>

          <a href="javascript:void(0);" (click)="onDownloadClickEvent($event)" *ngIf="showDownload">
            <i class="icofont icofont-download-alt icofont-2x download_hover">
              <span class="download_text">Download Ticket</span>
            </i>
          </a>

          <a href="javascript:void(0);" (click)="externalUploadClickEvent($event)" *ngIf="showExternalUpload">
            <i class="icofont icofont-exchange icofont-2x comment_hover">
              <span class="comment_text">Comments</span>
            </i>
          </a>

          <a href="javascript:void(0);" cardToggleEvent (click)="toggleCard($event)">
            <i class="icofont icofont-rounded-down icofont-2x "></i> <!--(click)="toggleCard($event)-->
          </a>




          <a href="javascript:void(0);" (click)="onRefreshClickEvent($event)" *ngIf="showRefresh">
            <i class="icofont icofont-refresh"></i>
          </a>



          <a href="javascript:void(0);" (click)="onUploadClickEvent($event)" *ngIf="showUpload">
            <i class="icofont icofont-upload-alt"></i>
          </a>



          <a href="javascript:void(0);" (click)="closeCard($event)" *ngIf="showClose">
            <i class="icofont icofont-close-circled"></i>
          </a>

        </div>
    </div>
    <div [@cardToggle]="cardToggle">
        <div class="card-body" [ngClass]="blockClass">
            <ng-content></ng-content>
        </div>
    </div>
</div>
