<app-card [title]="'Employee Viewer'" [blockClass]="'tran-data'" [showRightSection]="'false'" [showBack]="mainGridShow"
  [cardToggle]="cardToggleGrid">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">

        <div class="row">
          <div class="col-lg-2">
            <label class="col-lg-12 col-form-label">Employee ID</label>
            <input type="text" formControlName="Type_EmpCode" id="Type_EmpCode" class="form-control input-sm"
              placeholder="Code *" required>

          </div>
        </div>
        <div class="row space">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6 text-center">
                <button type="submit" class="btn btn-primary btntype">Search</button>
              </div>
              <div class="col-sm-6 text-center">
                <button class="btn btn-inverse float-left resetbtn btntype" (click)="resetForm()">Reset</button>
              </div>
            </div>

          </div>

        </div>

      </form>
    </div>
  </div>

  <div class="col-sm-12 ">

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-12">
              <div class="icofont-2x" style="color:dodgerblue">Employee Details</div>
            </div>
          </div>
          <div class="col-sm-6" [hidden]="hidefromLocation">
            <div class="col-sm-12">
              <!----<a href="javascript:void(0);" (click)="goToPage('/Employee/UpdateTicket');">
                <i class="icofont icofont-ticket float-right icofont-3x icon_color add_hover">
                  <span class="add_text">Assign Ticket</span>
                </i>
              </a>-->

              <a href="javascript:void(0);" (click)="goToPage('/Employee/CreateEmployee');">
                <i class="icofont icofont-contact-add float-right icofont-3x icon_color add_hover">
                  <span class="add_text">Create Employee</span>
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  <button class="btn btn-primary" (click)="goToPage('/Employee/CreateEmployee');">Create</button>-->

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <jqxGrid #myGrid jqx-grid-energyblue #myGrid [width]=getWidth() [source]="dataAdapter" [autoheight]="true"
              (onPagechanged)="onPageChanged($event)" [rendergridrows]="rendergridrows"
              [initrowdetails]="initRowDetails" [rowdetailstemplate]="rowdetailstemplate" [virtualmode]='true'
              [altrows]="true" [columns]="columns" (onCellselect)="myGridOnCellSelect($event)" [filterable]="false"
              [columnsresize]="true" [sortable]="false" [height]='620' [showheader]="false" [theme]="'energyblue'"
              [rowsheight]="75" [pagermode]="'simple'" [updatefilterconditions]="updatefilterconditions"
              [pageable]="true" [selectionmode]="'singlecell'">
            </jqxGrid>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>