.textboxheight {
  height: 29px;
}

.k-chat {
  height: 100vh;
}

/*.form-control {
  font-size: 12px;
  border-radius: 2px ;
  min-height: 28px;

}*/

.custodianClass {
  margin-left: 15px;
  margin-right: -2px;
}



.textBoxPadding {
  font-size: 13px;
  min-height: 20px;
  height: 20px;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

textarea.form-control {
  min-height: 50px !important;
}

.ngx-dropdown-container[_ngcontent-c8] .ngx-dropdown-button[_ngcontent-c8] {
  width: 100%;
  min-height: 29px;
}

.ngx-dropdown-container[_ngcontent-c8] button[_ngcontent-c8] span[_ngcontent-c8] {
  font-size: 13px;
}




.ng-select .ng-select-container {
  min-height: 29px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 29px;
}
.ng-select .ng-select-container .ng-value-container {
  /*padding-top: 4px;*/
  padding-left: 8px;
  font-size: 11px;
  font-weight: bold;
}



.ng-select .ng-clear-wrapper {
  /*padding-top: 4px;*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}


tr:nth-child(even) {
  background-color: #f2f2f2
}


th {
  text-align: center;
  padding: 4px;
}

td {
  
  padding: 8px;
}

.left {
  text-align: left;
}


.center {
  text-align: center;
}

