<app-card [title]="'Edit Employee Detail'" [blockClass]="'tran-data'" [showRightSection]="'false'"
          [cardToggle]="cardToggleGrid">

  <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success">
      {{massage}}
    </p>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">Employee Code<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <input type="text" [attr.disabled]="true" formControlName="Type_EmpCode" id="Type_EmpCode"
                   class="form-control input-sm" placeholder="Code *" required>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">Employee Name<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <input type="text" [attr.disabled]="true" formControlName="EmployeeName" id="EmployeeName"
                   class="form-control input-sm" placeholder="Name *" required>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label">Mobile Number<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <input type="text" formControlName="MobileNumber" id="MobileNumber" class="form-control input-sm"
                   placeholder="Mobile *" required>
            <div *ngIf="employeeForm.get('MobileNumber').value && employeeForm.get('MobileNumber').errors?.pattern">
              <div class="alert-danger"> Enter 10 digit Mobile Number </div>
            </div>
            <div *ngIf="!employeeForm.get('MobileNumber').value && employeeForm.get('MobileNumber').touched">
              <div class="alert-danger"> Enter Mobile Number </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#incidentDate #disputeAmount #AtmID-->
    <div class="row">

      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">Email Address<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <input type="email" formControlName="EmailId" id="EmailId" class="form-control input-sm"
                   placeholder="Email *" required email>
            <div *ngIf="!employeeForm.get('EmailId').value && employeeForm.get('EmailId').touched">
              <div class="alert-danger"> Enter Email ID </div>
            </div>
            <div *ngIf="employeeForm.get('EmailId').value  && employeeForm.get('EmailId').touched && !employeeForm.get('EmailId').valid">
              <div class="alert-danger"> Enter valid email address </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">Select Rights</label>
          <div class="col-sm-12">
            <select class="form-control" formControlName="RightsCode">
              <option *ngFor="let rl of rights" [value]="rl[0]">{{ rl[1] }}</option>

            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">Select Roles</label>
          <div class="col-sm-12">
            <select class="form-control" (change)="RolesInput($event)" formControlName="RoleCode">
              <option *ngFor="let rl of roles" [value]="rl[0]">{{ rl[1] }}</option>


            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4">
        <div class="form-group row">
          <label class="col-lg-12 col-form-label">Manager Code</label>
          <div class="col-sm-12">

            <ng-multiselect-dropdown name="MgrCode" [(ngModel)]="selected_manager" [disabled]="hideSubmitButton"
                                     [placeholder]="'Select Employee'" [data]="Emp_details" formControlName="MGRCODE"
                                     [settings]="dropdownSettings3">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="isMSPSelected">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">MSP Category<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <select class="form-control" formControlName="MspCategory" id="mspcategory" *ngIf="isMSPSelected" placeholder="MSP Category">
              <option *ngFor="let rl of MSP" [value]="rl">{{ rl }}</option>

            </select>
            <div *ngIf="isMSPSelected && employeeForm.get('MspCategory').invalid && employeeForm.get('MspCategory').touched">
              <div class="alert-danger"> Select MSP Catogory </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="isLocationSelected">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">Select Region<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <ng-multiselect-dropdown name="region" [placeholder]="'Select Region'" [data]="Countries2"  [disabled]="hideSubmitButton"
                                     formControlName="Region" [(ngModel)]="selected_region" [settings]="dropdownSettings2"
                                     (onDeSelect)="removeCountry($event)" (onSelect)="changeCountry($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="isLocationSelected">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">Select Location<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <ng-multiselect-dropdown *ngIf="isLocationSelected" name="region" [placeholder]="'Select Location'"  [disabled]="hideSubmitButton"
                                     [data]="states2" formControlName="Location" [(ngModel)]="selected_loc" [settings]="dropdownSettings2"
                                     (onDeSelect)="removeState($event)" (onSelect)="changeState($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>

      <div class="col-sm-4" *ngIf="isLocationSelected">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label ">Select Hub<a style="color:red">*</a></label>
          <div class="col-sm-12">
            <ng-multiselect-dropdown *ngIf="isLocationSelected" name="hub" [(ngModel)]="selected_hub"  [disabled]="hideSubmitButton"
                                     [placeholder]="'Select Hub'" [data]="cities2" formControlName="Hub" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
            <div *ngIf="isLocationSelected && !employeeForm.get('Hub').value && employeeForm.get('Hub').touched">
              <div class="alert-danger"> Enter Hub Catogory </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="hideSubmitButton">
      <div class="col-sm-4">
        <div class="form-group row">
          <div class="col-sm-12">

            <input type="checkbox" formControlName="IsActive" class="largerCheckbox" (change)="toggleVisibility($event)" />

            <span *ngIf="active" (click)="togglebutton(false)" class="[ btn btn-success ]"> Active</span><span *ngIf="!active" (click)="togglebutton(true)"  class="[ btn btn-default ]"> InActive</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <div class="col-sm-6 text-center">
            <input type="submit" [disabled]="!employeeForm.valid" value="Updates" class="btn btn-info">
          </div>
          <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-inverse " (click)="resetForm()">Reset</button>
          </div>
        </div>

      </div>

    </div>
    <div class="row" *ngIf="isTicketAvailable">
      <div class="col-sm-12">
        <div class="form-group row">

          <div class="col-sm-12">

            <div class="alert alert-info">

              To assign ticket to other user click on button

              <button type="button" class="btn btn-danger " (click)="goto_update()">Allocate ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

</app-card>


<!--<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <button class="btn btn-primary" (click)="goToPage('/show_data');">Show</button>
      <button class="btn btn-primary" (click)="goToPage('/create_element');">Create</button>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center"> Edit Data</h2>
          <a class="nav-item nav-link-edit" [routerLink]="['/show_data']">Back</a>
        </div>
        <div class="panel-body">
          <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success"
             align="left">
            {{massage}}
          </p>
          <span *ngIf="errorFound">
            <span class="alert-danger"> {{massage}} </span>
          </span>
          <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">

            <div class="form-group">
              <input type="text" [attr.disabled]="true" formControlName="EmployeeName" id="EmployeeName"
                     class="form-control input-sm" placeholder="Name *" required>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="number" formControlName="MobileNumber" id="MobileNumber"
                         class="form-control input-sm" placeholder="Mobile *" required>
                  <span *ngIf="!employeeForm.get('MobileNumber').value && employeeForm.get('MobileNumber').touched">
                    <span class="alert-danger"> Enter Mobile Number </span>
                  </span>
                  <span *ngIf="employeeForm.get('MobileNumber').value && !employeeForm.get('MobileNumber').valid">
                    <span class="alert-danger"> Enter valid Mobile Number </span>
                  </span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="EmailId" id="EmailId"
                         class="form-control input-sm" placeholder="Email *" required email>
                  <span *ngIf="!employeeForm.get('EmailId').value && employeeForm.get('EmailId').touched">
                    <span class="alert-danger"> Enter Email ID </span>
                  </span>
                  <span *ngIf="employeeForm.get('EmailId').value && !employeeForm.get('EmailId').valid">
                    <span class="alert-danger"> Enter valid email address </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" [attr.disabled]="true" formControlName="Type_EmpCode"
                         id="Type_EmpCode" class="form-control input-sm" placeholder="Code *" required>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" formControlName="Password" id="Password"
                         class="form-control input-sm" placeholder="Password">
                  <span *ngIf="employeeForm.get('Password').value && !employeeForm.get('Password').valid">
                    <span class="alert-danger"> Password must contain minimum 6 letter </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <select class="form-control" formControlName="RoleCode">
                    <option selected="">Roles</option>
                    <option value="1">ADMIN</option>
                    <option value="2">HO</option>
                    <option value="3">MSP</option>
                    <option value="4">Location</option>
                    <option value="5">HO_Manager</option>
                    <option value="6">Location_Manager</option>
                    <option value="7">MIS_User</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <select class="form-control" formControlName="RightsCode">
                    <option selected="">Rights</option>
                    <option value="1">View</option>
                    <option value="2">Edit</option>
                  </select>
                </div>
              </div>
            </div>
            <input type="checkbox" formControlName="IsActive" data-md-icheck (change)="toggleVisibility($event)" />
            <span *ngIf="active"> Active</span><span *ngIf="!active"> InActive</span>

            <span class="checkmark"></span>
            <input type="submit" [disabled]="!employeeForm.valid" value="Update"
                   class="btn btn-info btn-block">

            <button type="button" class="btn btn-danger btn-block" (click)="deleteEmployee(employeeForm.get('Type_EmpCode').value)">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div-->
