/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */



/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ng-select/ng-select/themes/default.theme.css";



/*@import '~handsontable/dist/handsontable.full.css';
.handsontable {
  overflow: hidden;
}

.handsontable th {
  background-color: #CEC;
  font-weight: bold;
  
}
  */

.form-control {
  font-size: 12px !important;
  min-height: 20px !important;
  border: 1px solid #ced4da;
  border-radius: 6px !important;
  font-weight: bold;
  padding-top: 9px;
}
