<app-card [title]="'Employee Viewer'" [blockClass]="'tran-data'" [showRightSection]="'false'"
          [showBack]="mainGridShow" 
          [cardToggle]="cardToggleGrid">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">
       
          <div class="row">
            <div class="col-lg-2">
              <label class="col-lg-12 col-form-label">Employee ID</label>
              <input type="text" formControlName="Type_EmpCode" id="Type_EmpCode"
                     class="form-control input-sm" placeholder="Code *" required>

            </div>
          </div>
          <div class="row space">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>

            </div>

          </div>

        </form>
    </div>
  </div>

  <div class="col-sm-12 ">

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-12">
              <div class="icofont-2x" style="color:dodgerblue">Employee Details</div>
            </div>
          </div>
          <div class="col-sm-6" [hidden]="hidefromLocation">
            <div class="col-sm-12">
              <a href="javascript:void(0);" (click)="goToPage('/Employee/CreateEmployee');">
                <i class="icofont icofont-contact-add float-right icofont-3x icon_color add_hover">
                  <span class="add_text">Create Employee</span>
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  <button class="btn btn-primary" (click)="goToPage('/Employee/CreateEmployee');">Create</button>-->

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <jqxGrid jqx-grid-energyblue #myGrid [width]=getWidth()
                     [source]="dataAdapter" [autoheight]="true"
                     [altrows]="true" [columns]="columns"
                     (onCellselect)="myGridOnCellSelect($event)"
                     [filterable]="false" [columnsresize]="true"
                     [sortable]="false" [autoshowloadelement]="true"
                     [height]='620' [showheader]="false"
                     [theme]="'energyblue'" [rowsheight]="75"
                     [pageable]="true" [pagesizeoptions]="['10', '20', '30']"
                     [selectionmode]="'multiplecellsadvanced'">
            </jqxGrid>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
