<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h2 class="text-center"> Edit Data</h2>
                    <a class="nav-item nav-link-edit" [routerLink]="['/show_data']">Back</a>
                </div>
                <div class="panel-body">
                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success"
                        align="left">
                        {{massage}}
                    </p>
                    <span
                        *ngIf="errorFound">
                        <span class="alert-danger"> {{massage}} </span>
                    </span>
                    <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">


                        <div class="form-group">
                            <input type="text" [attr.disabled]="true" formControlName="EmployeeName" id="EmployeeName"
                                class="form-control input-sm" placeholder="Name *" required>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="number" formControlName="MobileNumber" id="MobileNumber"
                                        class="form-control input-sm" placeholder="Mobile *" required>
                                    <span
                                        *ngIf="!employeeForm.get('MobileNumber').value && employeeForm.get('MobileNumber').touched">
                                        <span class="alert-danger"> Enter Mobile Number </span>
                                    </span>
                                    <span
                                        *ngIf="employeeForm.get('MobileNumber').value && !employeeForm.get('MobileNumber').valid">
                                        <span class="alert-danger"> Enter valid Mobile Number </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="EmailId" id="EmailId"
                                        class="form-control input-sm" placeholder="Email *" required email>
                                    <span
                                        *ngIf="!employeeForm.get('EmailId').value && employeeForm.get('EmailId').touched">
                                        <span class="alert-danger"> Enter Email ID </span>
                                    </span>
                                    <span
                                        *ngIf="employeeForm.get('EmailId').value && !employeeForm.get('EmailId').valid">
                                        <span class="alert-danger"> Enter valid email address </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" [attr.disabled]="true" formControlName="Type_EmpCode"
                                        id="Type_EmpCode" class="form-control input-sm" placeholder="Code *" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" formControlName="Password" id="Password"
                                        class="form-control input-sm" placeholder="Password">
                                    <span
                                        *ngIf="employeeForm.get('Password').value && !employeeForm.get('Password').valid">
                                        <span class="alert-danger"> Password must contain minimum 6 letter </span>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <select class="form-control" formControlName="RoleCode">
                                        <option selected="">Roles</option>
                                        <option value="1">ADMIN</option>
                                        <option value="2">HO</option>
                                        <option value="3">MSP</option>
                                        <option value="4">Location</option>
                                        <option value="5">HO_Manager</option>
                                        <option value="6">Location_Manager</option>
                                        <option value="7">MIS_User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <select class="form-control" formControlName="RightsCode">
                                        <option selected="">Rights</option>
                                        <option value="1">View</option>
                                        <option value="2">Edit</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" formControlName="IsActive"  data-md-icheck (change)="toggleVisibility($event)"/>
                          <span *ngIf="active"> Active</span><span *ngIf="!active"> InActive</span>
                    
                          <span class="checkmark"></span>
                        <input type="submit" [disabled]="!employeeForm.valid" value="Update"
                            class="btn btn-info btn-block">


                            <button type="button" class="btn btn-danger btn-block" (click)="deleteEmployee(employeeForm.get('Type_EmpCode').value)">Delete</button> 

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>